/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  color: darkgray;
  border: 1px solid gray;
}

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: gray;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  color: black;
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  color: gray;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: blue;
}

.navSearchWrapper .algolia-autocomplete {
  display: flex!important;
}

.navSearchWrapper:before {
  left: 30px;
}

.navSearchWrapper:after {
  left: 40px;
}

.reactNavSearchWrapper input#search_input_react {
  background: white;
  border: 1px solid #5b5ddf;
  color: #5b5ddf;
}

.reactNavSearchWrapper input#search_input_react::placeholder,
.reactNavSearchWrapper input#search_input_react::-webkit-input-placeholder {
  color: #5b5ddf;
}

.navSearchWrapper:before {
  border: 3px solid #5b5ddf;
}

.navSearchWrapper:after {
  background: #5b5ddf;
}

.navSearchWrapper #search_input_react:focus, .navSearchWrapper #search_input_react:active {
  background-color: #fff!important;
  color: #5b5ddf!important;
}

@media only screen and (max-device-width: 736px) {
  .navSearchWrapper {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: relative;
    right: 0;
    top: 0;
  }

  .reactNavSearchWrapper input#search_input_react {
    padding: 10px 10px 10px 38px;
  }

  .aa-dropdown-menu {
    height: 200px;
    overflow: scroll;
  }
}

@media only screen and (min-width: 737px) {
  .navSearchWrapper {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    right: 44px;
    top: 63px;
  }
}

@media only screen and (min-width: 1024px) {
  .navSearchWrapper {
    right: 0;
    top: 0;
  }
}