/*!* your custom css *!*/
/*FIX SEARCH ICON*/

.navSearchWrapper:before {
    box-sizing: unset !important;
}

/*.fixedHeaderContainer {*/
/*    background: #fff;*/
/*    color: #000;*/
/*    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*}*/

/*details {*/
/*    padding: 20px;*/
/*    background: #e4e4e4;*/
/*}*/

/*summary {*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*}*/

/*code {*/
/*    background-color: #f7f7f7;*/
/*    color: #2b303b;*/
/*    border: 1px solid #e3e3e3;*/
/*}*/

/*table th {*/
/*    background-color: #e3e3e3;*/
/*    text-align: center;*/
/*}*/

/*table td {*/
/*    text-align: center;*/
/*}*/

/*table td:last-of-type {*/
/*    text-align: left;*/
/*}*/

/*table th, table td {*/
/*    border: 1px solid #ddd;*/
/*}*/


/*blockquote {*/
/*    background-color: #f5f5f5;*/
/*    border-left: 2px solid #5b5ddf;*/
/*}*/

/*blockquote > p:first-child {*/
/*    font-size: 14px;*/
/*    color: #676767;*/
/*}*/

/*.navPusher {*/
/*    padding-top: 50px;*/
/*}*/

/*.navigationSlider .slidingNav ul li a:focus {*/
/*    background: none;*/
/*}*/

/*.hljs {*/
/*    padding: 1.25rem 1.5rem!important;*/
/*}*/

.nav-footer {
    background: #3d4045;
    color: #eeeeee;
    font-size: 14px;
}

.nav-footer .sitemap p {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 5px;
}

.nav-footer .sitemap .netuno-copyright {
    display: block;
}

.nav-footer .sitemap .netuno-terms {
    display: block;
    margin-bottom: 25px;
}

.nav-footer .sitemap .home-icon {
    align-self: baseline;
    margin-top: 3px;
    height: 18px;
    width: 18px;
}

.nav-footer .sitemap .phone-icon {
    height: 18px;
}

.nav-footer .sitemap .youtube-icon {
    height: 12px;
    margin-left: -1px;
}

.nav-footer .sitemap a {
    display: inline;
    color: #68a2ff;
}

.nav-footer .sitemap a:hover, .nav-footer .sitemap a:focus {
    color: #5b5ddf;
}

.nav-footer .sitemap span {
    flex: 1;
}

.footer-icons {
    height: 14px;
    margin-right: 10px;
}

.try-btn {
    cursor: pointer;
    font-size: 14px;
    padding: 14px!important;
    transition: padding 0.1s ease-out;
    color: #FFF !important;
    background-color: #282828 !important;
    border: 2px solid #282828 !important;
    border-radius: 4px;
}

.try-btn:hover {
    background-color: #282828 !important;
    color: #68A2FF !important;
}

.share-icons {
    color: #eeeeee!important;
}

.share-icons:hover {
    color: #5b5ddf!important;
}

.share-icons svg {
    height: 25px;
    width: auto;
    margin-right: 15px;
    margin-top: 15px;
}


.link-button {
    font-size: 20px;
}

.link-button svg {
    height: 25px;
    width: auto;
    margin-right: 5px;
}

/*@media only screen and (max-device-width: 736px) {*/
/*    .fixedHeaderContainer {*/
/*        background: #fff;*/
/*        color: #000;*/
/*        -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*        -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*        box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);*/
/*        pointer-events: none;*/
/*    }*/

/*    .fixedHeaderContainer:after {*/
/*        content: 'MENU';*/
/*        position: absolute;*/
/*        top: 7px;*/
/*        right: 30px;*/
/*        pointer-events: all;*/
/*        border: 1px solid #5b5ddf;*/
/*        color: #5b5ddf;*/
/*        border-radius: 3px;*/
/*        padding: 5px;*/
/*        font-size: 14px;*/
/*    }*/

/*    .fixedHeaderContainer * {*/
/*        pointer-events: all;*/
/*    }*/

/*    .navigationSlider .slidingNav ul {*/
/*        overflow-x: unset;*/
/*    }*/

/*    .nav-site {*/
/*        flex-flow: column;*/
/*        align-items: baseline;*/
/*        background: #fff!important;*/
/*        color: #000!important;*/
/*        display: none!important;*/
/*    }*/

/*    .nav-site.active {*/
/*        display: flex!important;*/
/*        -webkit-box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.2);*/
/*        -moz-box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.2);*/
/*        box-shadow: 2px 8px 15px 0px rgba(0, 0, 0, 0.2);*/
/*    }*/

/*    .nav-site li {*/
/*        border-bottom: 1px solid rgba(128,128,128,.2);*/
/*        width: 100%;*/
/*        text-align: left!important;*/
/*    }*/

/*    .nav-site li a {*/
/*        padding: 15px 20px!important;*/
/*        justify-content: left!important;*/
/*        text-transform: uppercase;*/
/*        font-size: 13px!important;*/
/*    }*/

/*    .nav-site li:nth-last-child(2) a {*/
/*        color: #FFF !important;*/
/*        background-color: #282828 !important;*/
/*        border: 2px solid #282828 !important;*/
/*        border-radius: 4px;*/
/*        padding: 10px !important;*/
/*        margin: 6px 13px!important;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 737px) {*/
/*    .navigationSlider .slidingNav ul {*/
/*        background: none;*/
/*        display: flex;*/
/*        flex-flow: row nowrap;*/
/*        margin: 0;*/
/*        padding: 0 20px 0 0;*/
/*        width: auto;*/
/*        color: #000;*/
/*        justify-content: flex-end;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li {*/
/*        flex: unset;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li:nth-last-child(2) a {*/
/*        cursor: pointer;*/
/*        font-size: 14px;*/
/*        padding: 14px;*/
/*        transition: all 0.1s ease-out;*/
/*        color: #FFF !important;*/
/*        background-color: #282828 !important;*/
/*        border: 2px solid #282828 !important;*/
/*        border-radius: 4px;*/
/*        font-weight: 100;*/
/*        height: 34px;*/
/*        margin: 8px;*/
/*    }*/

/*    .header-thin .slidingNav ul li:nth-last-child(2) a {*/
/*        height: 37px;*/
/*        padding: 8px;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li:nth-last-child(2) a:hover {*/
/*        color: #68A2FF!important;*/
/*    }*/
/*}*/

/*@media only screen and (max-device-width: 1023px) {*/
/*    .tocActive .onPageNav{*/
/*        top: 95px;*/
/*        height: calc(100% + 50px);*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 1024px) {*/

/*    .fixedHeaderContainer {*/
/*        background: #FFF;*/
/*        color: #000;*/
/*        height: 90px;*/
/*        line-height: 90px;*/
/*        padding: 0;*/
/*    }*/

/*    .headerWrapper {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        height: 90px;*/
/*        line-height: 90px;*/
/*    }*/

/*    .header-thin, .header-thin .headerWrapper {*/
/*        height: 55px;*/
/*        line-height: 55px;*/
/*        transition: all .15s ease-out;*/
/*    }*/

/*    .fixedHeaderContainer header {*/
/*        align-items: center;*/
/*        width: 100%;*/
/*        justify-content: space-around;*/
/*    }*/

/*    header a {*/
/*        height: 100%;*/
/*    }*/
/*    header .logo {*/
/*        max-width: 150px;*/
/*        width: 150px;*/
/*        margin-right: 0!important;*/
/*        margin-left: 20px;*/
/*        height: auto!important;*/
/*    }*/

/*    .navigationSlider .slidingNav ul {*/
/*        color: #000;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li {*/
/*        height: 55px !important;*/
/*        line-height: 55px !important;*/
/*        display:flex;*/
/*        align-items: center;*/
/*        padding-right: 10px !important;*/
/*        padding-left: 10px !important;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li a {*/
/*        color: #000;*/
/*        font-size: 15px;*/
/*        font-weight: 600;*/
/*        text-transform: uppercase;*/
/*        letter-spacing: 0px;*/
/*        padding: 0;*/
/*        position: relative;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li > a:after {*/
/*        content: "";*/
/*        display: block;*/
/*        width: 100%;*/
/*        height: 2px;*/
/*        -webkit-transform: scale(0,1);*/
/*        -ms-transform: scale(0,1);*/
/*        transform: scale(0,1);*/
/*        -ms-transform-origin: left center;*/
/*        transform-origin: left center;*/
/*        -webkit-transform-origin: left center;*/
/*        transition: all .15s ease-out;*/
/*        background-color: #85addb;*/
/*        color: #ffffff;*/
/*        filter: alpha(opacity=@opacity * 100);*/
/*        -moz-opacity: 0;*/
/*        -khtml-opacity: 0;*/
/*        opacity: 0;*/
/*        position: absolute;*/
/*        bottom: 3px;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li:nth-last-child(2) a {*/
/*        height: 49px;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li:not(:nth-last-child(2)):hover > a:after {*/
/*        -webkit-transform: scale(1,1);*/
/*        -ms-transform: scale(1,1);*/
/*        transform: scale(1,1);*/
/*        filter: alpha(opacity=@opacity * 100);*/
/*        -moz-opacity: 100;*/
/*        -khtml-opacity: 100;*/
/*        opacity: 100;*/
/*        opacity: 1;*/
/*    }*/

/*    .navigationSlider .slidingNav ul li:not(:nth-last-child(2)):hover > a {*/
/*        background: none;*/
/*        color: #000;*/
/*    }*/

/*    .navPusher {*/
/*        padding-top: 90px;*/
/*    }*/

/*    .navigationSlider {*/
/*        height: auto;*/
/*        margin-left: 0;*/
/*    }*/

/*    .onPageNav {*/
/*        padding: 40px 0;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 1023px) {*/
/*}*/

/*@media only screen and (min-width: 1400px) {*/
/*}*/

/*@media only screen and (min-width: 1500px) {*/
/*}*/
