/*Common Elements Format*/
.category {
    color: #FFFFFF;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42em;
    overflow: hidden;
}

.category:hover .bg-image {
   transform: scale(1.1);
}
.category h2 {
    font-weight: 800;
    letter-spacing: .03em;
}
.category .sm-description {
    max-height: 40em;
    font-size: 1.1em;
    opacity: 1;
}
.category:hover .sm-description {
    opacity: 0;
    max-height: 0;
}
.category .bg-description {
    font-size: 1.1em;
    opacity: 0;
    max-height: 0;
}
.category:hover .bg-description {
    max-height: 40em;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.buttonWrapper a {
    border-color: #FFFFFF;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.category .buttonWrapper {
    opacity: 0;
}
.category:hover .buttonWrapper {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.category .content {
    max-width: 20em;
    display: inline-block;
    transition: all 0.2s ease;
}
.category:hover .content{
    transform: translateY(-2em);
    transition: all 0.45s ease;
}
.category hr {
    height: .1em;
    background-color: white;
}

.category .bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease;
}
/*Separate Category Format*/

.category#a {
    background-color: rgba(18, 18, 44,.9);
}
.category#b {
    background-color: rgba(27, 27, 66,.9);
}
.category#c {
    background-color: rgba(36, 37, 89,.9);
}
.category#a .bg-image{
    background-color: #191919;
    background-image: url("../img/business.png");
}
.category#b .bg-image {
    background-color: #323232;
    background-image: url("../img/library.png");
}
.category#c .bg-image {
    background-color: #4c4c4c;
    background-image: url("../img/academy.png");
}


