/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b5ddf;
  --ifm-color-primary-dark: #4043d9;
  --ifm-color-primary-darker: #292bd2;
  --ifm-color-primary-darkest: #2326b7;
  --ifm-color-primary-light: #6b6de2;
  --ifm-color-primary-lighter: #7b7de5;
  --ifm-color-primary-lightest: #8c8de8;
  --ifm-font-size-base: 130%;
  --ifm-code-font-size: 110%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7b7de5;
  --ifm-color-primary-dark: #8c8de8;
  --ifm-color-primary-darker: #9c9deb;
  --ifm-color-primary-darkest: #adaeee;
  --ifm-color-primary-light: #6b6de2;
  --ifm-color-primary-lighter: #5b5ddf;
  --ifm-color-primary-lightest: #4043d9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


pre.doc-structure__tree {
  color: var(--ifm-color-primary-lightest);
}

pre.doc-structure__tree p {
  margin-bottom: 0;
}

pre.doc-structure__tree span {
  color: var(--ifm-color-primary-light);
}

pre.doc-structure__tree span > b {
  color: var(--ifm-color-primary-darkest);
}
